.sign-in-main-component > button2 {
    width: 150px;
    height: 6vh;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #4285f4;
    font-size: 17px;
    text-align: center;
}

.SignIn > button3 {
    color:white
}

